body {
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
}

h1 {
    font-size: 300%;
    font-style: italic;
}

a {
    color: khaki;
    text-decoration: none;
}

p {
    text-align: justify;
}

.kiemelt {
    font-weight: bold;
    color: darkblue;
    font-stretch: expanded;
}
img {
    width: 800px;
    margin-left: 500px;
}

#keret {
    width: 500px;
    color: darkturquoise;
    background-color: bisque;
    padding: 15px;
    border: 5px solid darkorange;
    margin: 20px;
}
