body {
    background-color: cadetblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 16px;
    margin-left: 50px;
    background-image: url(logo.jpg);
    background-repeat: repeat-y;
    background-position: right;
    margin-right: 160px
}

h1 {
    font-size: 300%;
    font-style: italic;
}

.csapat {
    color: khaki;
    text-decoration: none;
}

p {
    text-align: justify;
}

.zsak {
    width: 700px;
    float: right;
    padding-right: 200px;
}

.kiemelt {
    font-size: 14pt;
    font-weight: bold;
    color: darkblue;
    font-stretch: expanded;
}
.kepek {
    width: 800px;
    margin-left: 400px;;
}

#keret {
    font-size: 14pt;
    width: 750px;
    color: darkslategrey;
    background-color: bisque;
    padding: 15px;
    border: 5px solid darkorange;
    margin: 20px;
    margin-left: 55px;
    margin-top: 60px;
}

.kelleklista {
    font-style: italic;
    text-transform: lowercase;
    list-style-type: square;
    list-style-image: url("akrokosar.png");
    font-size: 18px;
}

table {
    width: 40%;
    background-color: gray;
    border: 1px solid peru;
    border-collapse: separate;
    margin-bottom: 20px;
}

table, table td, table th {
    border: 1px solid darkred;
}

table th {
    background-color: maroon;
    color: wheat;
}

table tr :hover {
    background-color: teal;
}

#dontes {
    margin-left: 10px;
    font-size: 30pt;
    float: left;
    -ms-transform: rotate(-30deg);
    -webkit-transform: rotate(-30deg);
    transform: rotate(-30deg);
    background-color: darkred;
    border: 5px solid darkorange;
    padding-left: 15px;
    padding-right: 15px;
}

.vissza {
    float: left;
    margin-top: 100px;
}

.korosztaly {
    font-size: 18pt;
    color: khaki;
    text-decoration: none;
}

.jobbra {
    float:right;
    margin-right: 50px;
    margin-top: -200px;
    width: 400px;
    height: auto;
}

.utolso {
    float:right;
    margin-right: 50px;
    width: 400px;
    height: auto;
}

#fel {
    margin-top: 70px;
}

.jelentkezz {
    font-size: 18pt;
    color: khaki;
    text-decoration: none;
}

input, textarea{
    padding: 10px;
}

.reg {
    width: 550px;
    background-color: royalblue;
    padding: 10px;
}

.reg div{
    margin: 30px;
}

.reg input{
    width: 460px;
}

.reg input[type=checkbox],  .reg input[type=radio] {
    width: auto;
}

.jelkép {
    margin-top: -500px;
    float: right;
    -ms-transform: rotate(20deg);
    -webkit-transform: rotate(20deg);
    transform: rotate(20deg);
}